/* @font-face {
    font-family: iranSANS;
    src: url(../assets/fonts/IRANSans.ttf);
  } */
body{
    font-family: iranSans;
}
.rtl{
    direction: rtl !important;
    text-align: right;
}
.line-height {
	line-height: 36px;
}
.original-margin
{
    margin: 0 70px;
}
.my-black
{
    background-color: #333333;
}
.left-part-paragrapgh-1{
    margin-top: 5px !important;
}
.card-content-2{
    padding: 25px 50px !important;
}
.left-part-bullet-1{
    padding-left: 40px !important;
}
.left-part-bullet-1 li{
    list-style-type: initial !important; 
}
.left-part-text-box-1-holder{
    margin-top: 40px !important;
}
.left-part-text-box-1{
    display: inline-block;
    padding: 5px 5px 5.5px 5px;
    border-radius: 5px;
margin-top: 10px;
}
.right-part{
    width: 30% !important;
    padding: 7px 25px 20px 25px !important;
    margin: 8px 0 0 23px !important;
}
.right-part .follow-us-text{
    padding-top: 15px !important;
}
.card-2{
    padding-bottom: 30px;
}
.right-part .social-media-1{
    display: inline-block;
    width: 47px;
    height: 45px;
    text-align: center;
    padding-top: 11px;
    border-radius: 5px;
    margin-top: 10px;
}
.right-part .social-media-1 i{
    font-size: 22px;
}
.right-part .social-media-holder-1{
    margin-top: 25px;
}
.my-width{
    width: 100%;
}
.right-part .popular-post-holder .post-content p {
	margin-top: -5px;
}
.right-part .popular-post-holder img{
    border-radius: 3px;
}
.right-part .popular-post-holder .post-content .post-content-date {
	font-size: 12px;
	margin-top: -11px !important;
}
.categories-holder > div {
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
    display: block ruby;
    margin-bottom: 20px;
}
.search-holder {
	margin: 70px 10px 70px -12px !important;
}
.search-holder > .search-button {
	width: 35px !important;
	height: 29px;
	text-align: center;
	padding: 0px 0px 0px 0 !important;
	line-height: 30px;
}
.search-holder > .search-button i {
	font-size: 19px;
	margin-right: 7px;
}
input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
    border: 1px solid #bdbdbd  !important;
    padding: 0 0 3px 8px;
    height: 25px !important;
    border-radius: 2px;

}
.recent-comments-holder div{
    border-bottom: 1px solid #e0e0e0;
    margin-top: 20px;
}
.post-part {
	padding: 25px 50px !important;
	margin-top: 50px;
}
.post-part img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}
.post-part div {
	margin-right:105px;
}
.dropdown-content li > a, .dropdown-content li > span{
    text-align: right;
}
svg.caret{
    left: 0 !important;
}
input.select-dropdown{
    text-align: right !important;
    padding-right: 5px !important;
}
.select-wrapper {
	position: relative;
	margin-right: 10px;
}
.comment-section textarea{
    height: 250px;
    background-color: white;
    direction: rtl;
    padding: 10px;
}
.comment-section form .input-field{
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.comment-section form a{
    padding: 1px 15px !important;
    left: 9px !important;
}
footer{
    padding-top: 40px;
}
footer  .popular-post-holder  div.post-content{

        bottom: 20px !important;
        position: relative;
    
}
footer .m4 {
	padding: 0 25px !important;
}
footer .social-media-holder-1 div {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 34px;
	border-radius: 2px;
}
footer .social-media-holder-1{
    height: 70px;
    padding-top: 20px;
}
#dropdown1 li a {
    font-size: 12px;
}
.section-1 {
	background-image: url('../assets/images/building-with-columns.jpg');
	height: 513px;
}
.section-1 .title{
    margin-right: 30px;
}
.section-1 .title h5{
    background-color: rgba(239, 83, 80, .5);
    padding: 13px;
        text-align: right;
        display: inline-block;
        margin-top: 150px;
}
.section-1 .title p {
	background-color: rgba(66, 66, 66, .5);
	padding: 13px;
	width: 70%;
	float: right;
	position: relative;
	bottom: 23px;
}
.gallery-section-1{
    padding: 20px;
}
.gallery-section-1 .row-1> .col > img{
    height: 200px;
}
.gallery-section-1 .row-1-I > .col {
	padding: 0 2px !important;
}
.gallery-section-1 .row-1> .col > img:nth-child(1){
    height: 400px;
}
.contact-us-left-part{
    margin-top: 8px;
    padding: 30px 40px !important;
}
form.contact-us-form div div{
    margin: 0 !important;
}
form.contact-us-form div textarea{
    height: 200px;
}